html{
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  /* overflow: hidden; */
  margin: 0;
  padding:0;
  font-family: 'Quicksand', sans-serif;
}

main{
  position: absolute;
  box-sizing: border-box;
  width:100vw;
  overflow: hidden;
  /* display:none; */
  
}


canvas {
  box-sizing: border-box;
  /* width: 100vw;
  height: 100vh; */
  position: fixed;
  top:0;
  right:0;
  /* overflow: hidden; */
  /* z-index: 1; */
  
}
::-webkit-scrollbar {
  width: 10px;
  background-color:#ff08ea;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(84, 0, 100);
  border-radius: 8px;
  /* border: 3px solid purple; */
}
li{
  list-style-type: none;
}
#ullist{
 text-align: left;
 margin: 8px auto;
 padding: 8px;
}
#ullist li{
  margin: 15px auto 15px auto;
}
#hysintro{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath3006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient3007)'%3e%3c/rect%3e%3ccircle r='43.61' cx='365.89' cy='49.6' fill='url(%23SvgjsRadialGradient3008)'%3e%3c/circle%3e%3ccircle r='38.05' cx='137.49' cy='340.66' fill='url(%23SvgjsLinearGradient3009)'%3e%3c/circle%3e%3ccircle r='17.685' cx='129.61' cy='472.61' fill='url(%23SvgjsLinearGradient3010)'%3e%3c/circle%3e%3ccircle r='22.825' cx='1341.08' cy='355.7' fill='url(%23SvgjsLinearGradient3011)'%3e%3c/circle%3e%3ccircle r='52.015' cx='1227.33' cy='499.83' fill='url(%23SvgjsLinearGradient3012)'%3e%3c/circle%3e%3ccircle r='21.555' cx='923.67' cy='539.86' fill='url(%23SvgjsRadialGradient3013)'%3e%3c/circle%3e%3ccircle r='22.065' cx='689.53' cy='216.35' fill='url(%23SvgjsLinearGradient3014)'%3e%3c/circle%3e%3ccircle r='40.35' cx='1065.22' cy='233.62' fill='url(%23SvgjsLinearGradient3015)'%3e%3c/circle%3e%3ccircle r='26.79' cx='750.88' cy='510.47' fill='url(%23SvgjsLinearGradient3016)'%3e%3c/circle%3e%3ccircle r='26.575' cx='81.63' cy='548.77' fill='url(%23SvgjsLinearGradient3017)'%3e%3c/circle%3e%3ccircle r='18.13' cx='1335.75' cy='151.18' fill='url(%23SvgjsLinearGradient3018)'%3e%3c/circle%3e%3ccircle r='28.08' cx='742.56' cy='181.89' fill='rgba(174%2c 32%2c 177%2c 1)'%3e%3c/circle%3e%3ccircle r='22.985' cx='280.87' cy='323.66' fill='url(%23SvgjsLinearGradient3019)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath3006'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3007'%3e%3cstop stop-color='rgba(47%2c 14%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(136%2c 0%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='365.89' cy='49.6' r='123.35' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient3008'%3e%3cstop stop-color='rgba(215%2c 124%2c 242%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='61.390000000000015' y1='340.6600000000001' x2='213.59' y2='340.6600000000001' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3009'%3e%3cstop stop-color='rgba(155%2c 52%2c 218%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(154%2c 25%2c 130%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='94.24000000000001' y1='472.61' x2='164.98000000000002' y2='472.61' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3010'%3e%3cstop stop-color='rgba(155%2c 52%2c 218%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(154%2c 25%2c 130%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1295.4299999999998' y1='355.7' x2='1386.7299999999998' y2='355.7' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3011'%3e%3cstop stop-color='rgba(129%2c 60%2c 171%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(133%2c 6%2c 156%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1123.3' y1='499.8299999999999' x2='1331.36' y2='499.8299999999999' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3012'%3e%3cstop stop-color='rgba(129%2c 60%2c 171%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(133%2c 6%2c 156%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='923.67' cy='539.86' r='60.97' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient3013'%3e%3cstop stop-color='rgba(215%2c 124%2c 242%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='645.4' y1='216.35' x2='733.66' y2='216.35' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3014'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(135%2c 70%2c 133%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='984.52' y1='233.62' x2='1145.92' y2='233.62' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3015'%3e%3cstop stop-color='rgba(129%2c 60%2c 171%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(133%2c 6%2c 156%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='697.3' y1='510.47' x2='804.4599999999999' y2='510.47' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3016'%3e%3cstop stop-color='rgba(129%2c 60%2c 171%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(133%2c 6%2c 156%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='28.479999999999997' y1='548.77' x2='134.78' y2='548.77' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3017'%3e%3cstop stop-color='rgba(129%2c 60%2c 171%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(133%2c 6%2c 156%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1299.49' y1='151.18' x2='1372.01' y2='151.18' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3018'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(135%2c 70%2c 133%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='234.9' y1='323.6600000000001' x2='326.84000000000003' y2='323.6600000000001' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3019'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(135%2c 70%2c 133%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  z-index: 3;
}
#cover{
  position:fixed;
  box-sizing: border-box;
  top:0;
  right:0;
  width:100%;
  height:100vh;
  background-color: linear-gradient(to right, #64005f 34%, #ff08ea 100%) ;
  background-image: url('purple.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  transition: all 0.5s ease-in;
}

.vwdiv{
  width: 100vw;
  height:100vh;
  margin: auto;
  box-sizing: border-box;
  /* background-color: #64005f6b; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  /* overflow-y: hidden; */
/* z-index: 3; */

}
#animatedsvg{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2418%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2419)'%3e%3c/rect%3e%3cpath d='M723.488%2c475.73C770.044%2c475.74%2c796.199%2c427.978%2c819.594%2c387.727C843.165%2c347.173%2c871.356%2c301.012%2c849.011%2c259.769C826.052%2c217.392%2c771.623%2c207.889%2c723.488%2c210.34C680.074%2c212.551%2c639.013%2c233.292%2c618.313%2c271.517C598.489%2c308.125%2c608.391%2c350.675%2c627.452%2c387.686C648.764%2c429.067%2c676.941%2c475.72%2c723.488%2c475.73' fill='rgba(186%2c 133%2c 254%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1256.86 394.21 a153.95 153.95 0 1 0 307.9 0 a153.95 153.95 0 1 0 -307.9 0z' fill='rgba(186%2c 133%2c 254%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M912.79 410.83 a154.57 154.57 0 1 0 309.14 0 a154.57 154.57 0 1 0 -309.14 0z' fill='rgba(186%2c 133%2c 254%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M128.72 198.09 a131.49 131.49 0 1 0 262.98 0 a131.49 131.49 0 1 0 -262.98 0z' fill='rgba(186%2c 133%2c 254%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M686.477%2c379.462C731.714%2c379.008%2c774.048%2c355.082%2c795.669%2c315.344C816.425%2c277.194%2c811.174%2c230.377%2c787.347%2c194.065C765.688%2c161.057%2c725.924%2c147.337%2c686.477%2c148.937C649.961%2c150.418%2c619.198%2c171.354%2c598.848%2c201.71C575.25%2c236.911%2c554.685%2c279.562%2c573.424%2c317.573C593.784%2c358.873%2c640.433%2c379.924%2c686.477%2c379.462' fill='rgba(186%2c 133%2c 254%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-47.87 311.11 a151.47 151.47 0 1 0 302.94 0 a151.47 151.47 0 1 0 -302.94 0z' fill='rgba(186%2c 133%2c 254%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2418'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2419'%3e%3cstop stop-color='rgba(248%2c 249%2c 250%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(173%2c 34%2c 195%2c 0.43)' offset='0.44'%3e%3c/stop%3e%3cstop stop-color='rgba(173%2c 34%2c 195%2c 0)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
background-size: cover;
}
#loveletter{
  position: absolute;
  top: 25%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  
}
#loveletter:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.card{
  position: relative;
  
  /* max-width: 600px; */
  text-align: center;
  /* background-color: white; */
  /* padding: 40px; */
  user-select: none;
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(to right, #64005f 34%, #ff08ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-image: linear-gradient(to right, #ff0000, #ffff00); */
}
.cardcontainer{
  max-width: 600px;
  /* background-color: white; */
  /* margin: 80dvh auto 100vh auto; */
  position: relative;
  top:30vh;
  padding: 40px;
  background: rgba( 255, 255, 255, 0.95 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
font-size: 0.9rem;
/* z-index: 3; */
}
.cardcontainer1{
  max-width: 600px;
  /* background-color: white; */
  margin: 60dvh auto 100vh auto;
  padding: 40px;
  background: rgba( 255, 255, 255, 0.95 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
z-index: 3;
}
.cardcontainer3{
  max-width: 600px;
  /* background-color: white; */
  /* margin: 80dvh auto 100vh auto; */
  position: relative;
  /* top:30vh; */
  padding: 40px;
  background: rgba( 255, 255, 255, 0.95 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
/* z-index: 3; */
}


#inputpass{
  height: 30px;
  border-radius: 10px;
  color: black;
  background-color: rgba(252, 252, 252, 0.527);
  text-align: center;
}
#letterMZK{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  background-image: linear-gradient(to bottom, #64005f 34%, #ff08ea 100%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  display: none;
  transition: all 0.5s ease-in-out;
}
#message{
  background-color: rgba(0, 0, 0, 0.219);
  outline: none;
  border: none;
  width:90%;
  font-size: 1.1rem;
}
.hiddenletter{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  background-image: linear-gradient(to bottom, #64005f 34%, #ff08ea 100%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  display: none;
  transition: all 0.5s ease-in-out;
}
#lettertohys{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2688%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2689)'%3e%3c/rect%3e%3cpath d='M1381.057%2c569.284C1435.099%2c569.287%2c1486.163%2c538.886%2c1510.165%2c490.466C1532.045%2c446.326%2c1513.977%2c396.019%2c1487.556%2c354.438C1463.432%2c316.472%2c1425.966%2c289.846%2c1381.057%2c287.277C1330.921%2c284.409%2c1278.061%2c298.526%2c1251.131%2c340.913C1222.481%2c386.008%2c1225.554%2c444.015%2c1251.973%2c490.452C1278.694%2c537.42%2c1327.02%2c569.281%2c1381.057%2c569.284' fill='rgba(134%2c 45%2c 248%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-34.66 298.27 a123.04 123.04 0 1 0 246.08 0 a123.04 123.04 0 1 0 -246.08 0z' fill='rgba(134%2c 45%2c 248%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1027.93 92.85 a104.6 104.6 0 1 0 209.2 0 a104.6 104.6 0 1 0 -209.2 0z' fill='rgba(134%2c 45%2c 248%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M437.914%2c415.18C457.761%2c414.675%2c474.598%2c401.783%2c484.177%2c384.394C493.403%2c367.645%2c493.239%2c347.805%2c484.354%2c330.872C474.736%2c312.542%2c458.607%2c295.67%2c437.914%2c296.224C417.831%2c296.762%2c405.376%2c315.703%2c395.593%2c333.25C386.158%2c350.173%2c378.493%2c369.643%2c387.385%2c386.857C396.883%2c405.244%2c417.226%2c415.706%2c437.914%2c415.18' fill='rgba(134%2c 45%2c 248%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M278.824%2c362.284C296.314%2c363.352%2c315.909%2c361.293%2c325.251%2c346.468C335.031%2c330.947%2c330.317%2c311.116%2c321.037%2c295.292C311.883%2c279.683%2c296.908%2c267.932%2c278.824%2c267.305C259.646%2c266.64%2c239.895%2c275.062%2c231.216%2c292.177C223.107%2c308.166%2c231.207%2c326.51%2c241.279%2c341.341C249.908%2c354.047%2c263.494%2c361.348%2c278.824%2c362.284' fill='rgba(134%2c 45%2c 248%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M620.725%2c359.978C634.436%2c359.611%2c643.787%2c347.896%2c650.79%2c336.103C658.001%2c323.96%2c664.449%2c309.789%2c657.984%2c297.233C651.105%2c283.872%2c635.753%2c277.818%2c620.725%2c277.711C605.489%2c277.603%2c589.871%2c283.342%2c582.538%2c296.697C575.415%2c309.669%2c580.088%2c325.121%2c587.734%2c337.792C595.073%2c349.953%2c606.526%2c360.358%2c620.725%2c359.978' fill='rgba(134%2c 45%2c 248%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2688'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2689'%3e%3cstop stop-color='rgba(140%2c 0%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(173%2c 34%2c 195%2c 1)' offset='0.44'%3e%3c/stop%3e%3cstop stop-color='rgba(195%2c 34%2c 138%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}
#prompt{
  width: 100vw;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  right:0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-image: linear-gradient(to bottom, #3f0064f1 0%, #ff08eab9 100%);
  display: none;
  transition: all 0.5s ease-in-out;

}
#backfromletter{
  width: 400px;
  position:absolute;
  bottom:20%;
  left:43%;
  display: flex;
  align-items:center;
  justify-content:center;
  
  
  height: 40px;
  border-radius: 5px;
  background-color: rgb(170, 6, 211);
  color:white;
  z-index: 3;
  transition: 0.2s ease-in;
  border: 1px solid rgba(151, 151, 151, 0.856);
  cursor: pointer;
}
.backfrompass{
  width: 400px;
  position:relative;
  /* bottom:20%;
  left:43%; */
  display: flex;
  align-items:center;
  justify-content:center;
  
  
  height: 40px;
  border-radius: 5px;
  background-color: rgb(153, 6, 211);
  color:white;
  z-index: 3;
  transition: 0.2s ease-in;
  border: 1px solid rgba(151, 151, 151, 0.856);
  cursor: pointer;
}
.backfrompass:hover{
  transform: scale(1.1);
}
a{
  all: unset;
}
#Heartanimation{
  cursor: pointer;
}
#Heartanimation:before {
  content: "Click Me";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(27, 27, 27, 0.863);
  color: rgb(255, 0, 234);
  padding: 0 10px;
}
#contenthead{
  /* font-family: 'Dancing Script', cursive, sans-serif; */
  position:relative;
  top:3%;
  margin:auto;
  /* height: 200px; */
  /* background: white; */
  background: linear-gradient(to right, #FFFFFF 34%, #ff08ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:flex;
  color: white;
  gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 100;
  /* cursor: url('/HYS/cursorhys1.png'), auto; */
  user-select: none;
  /* background-color: #671e4169; */
}
#introEyes{
  position: relative;
  opacity: 0;
  transition: all 0.5s ease-in;
  /* opacity:0; */
  /* transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg); */
  /* animation-fill-mode:forwards; */
}



.heart{
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  transform-origin: center;
  position: relative;
  background: red;
  margin: 100px auto;
}
.heart::before, .heart::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
}
.heart::before{
  left: -50px;
}
.heart::after{
  top: -50px;
}
#kissbg{
  background:linear-gradient(to bottom, #ffffff00, #e2060665, #ffffff00);
}
.area{
  position:absolute;
  box-sizing: border-box;
  /* background: #cc020221;   */
  background: linear-gradient(to bottom, #ffffff00, #e2060665, #ffffff00);  
  width: 100%;
  height:100vh;
  /* border: 1px solid red; */
 
}
.headerstyle{
  /* width: 100vw; */
  box-sizing: border-box;
  position: absolute;
  margin:auto;
  top:100px;
  font-size: 1.2rem;
  color: rgb(255, 1, 149);
  /* background: linear-gradient(to right, #ff6ab0 34%, #ff08ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  cursor: pointer;
  /* z-index: 5; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: 'Dancing Script', cursive, sans-serif;
}

.word {
  display: inline-block;
  animation: animateWords 1s ease-in infinite alternate;
  animation-delay: 0.5s;
  transition: all 0.5s ease-in;

}
.wordspace {
  width: 20px;

}
@keyframes animateWords {
  from {
    transform: translateY(0);
  color: rgb(255, 1, 141);

  }
  to {
    transform: translateY(-20px);
  color: rgb(255, 255, 255);

  }
}

.word:hover {
  color: palevioletred;
  animation: none;
  transform: translateY(-40px);
}

.cardsheismy {
  position: relative;
  box-sizing: border-box;
  background-color: #F8F8F8;
  /* text-align: center; */
  border-radius: 1.5em;
  /* min-width: 400px; */
  width: 80vw;
  /* width: 30%; */
  padding: 2.6em 3.8em;
  cursor: pointer;
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* left: 40%; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1), 
    0 32px 32px rgba(0, 0, 0, 0.15),
    0 64px 64px rgba(0, 0, 0, 0.15);
}
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  /* width: 40em; */
  color: rgb(128, 0, 117);
  font-size: 0.9em;
}
.scroller span {
  position: absolute;
  top: 0;
  animation: slide 20s infinite ease-in;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  10% {
    top: -1.2em;
  }
  20% {
    top: -2.4em;
  }
  30% {
    top: -3.6em;
  }
  40% {
    top: -4.8em;
  }
  50% {
    top: -6.0em;
  }
  60% {
    top: -7.2em;
  }
  70% {
    top: -8.4em;
  }
  80% {
    top: -9.6em;
  }
  90% {
    top: -10.8em;
  }
  100% {
    top: -12em;
  }
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* border: 1px solid red; */

}

.circles div{
  position: absolute;
  display: block;
  list-style: none;
  /* width: 100px;
  height: 100px; */
  /* transform: rotate(45deg); */
  transform-origin: center;
  /* position: relative; */
  background:linear-gradient(to bottom, #ff0000, #e20606, #ff0000); 
  /* margin: 100px auto; */
  /* background: rgb(247, 0, 21); */
  animation: animateheart 25s linear infinite;
  bottom: -150px;
  
}


.circles div:nth-child(1){
  left: 25%;
  /* width: 80px;
  height: 80px; */
  animation-delay: 0s;
}


.circles div:nth-child(2){
  left: 10%;
  /* width: 20px;
  height: 20px; */
  animation-delay: 2s;
  animation-duration: 12s;
  scale: 0.5;
  /* transform: scale(0.5); */
}

.circles div:nth-child(3){
  left: 70%;
  /* width: 20px;
  height: 20px; */
  animation-delay: 4s;
  scale: 0.7;

}

.circles div:nth-child(4){
  left: 40%;
  /* width: 60px;
  height: 60px; */
  animation-delay: 0s;
  animation-duration: 18s;
  scale: 0.6;

}

.circles div:nth-child(5){
  left: 65%;
  /* width: 20px;
  height: 20px; */
  animation-delay: 0s;
}

.circles div:nth-child(6){
  left: 75%;
  /* width: 110px;
  height: 110px; */
  animation-delay: 3s;
  scale: 0.5;

}

.circles div:nth-child(7){
  left: 35%;
  /* width: 150px;
  height: 150px; */
  animation-delay: 7s;
}

.circles div:nth-child(8){
  left: 50%;
  /* width: 25px;
  height: 25px; */
  animation-delay: 15s;
  animation-duration: 45s;
  scale: 0.3;

}

.circles div:nth-child(9){
  left: 20%;
  /* width: 15px;
  height: 15px; */
  animation-delay: 2s;
  animation-duration: 35s;
  scale: 0.7;

}

.circles div:nth-child(10){
  left: 85%;
  /* width: 150px;
  height: 150px; */
  animation-delay: 0s;
  animation-duration: 11s;
  scale: 0.5;

}



@keyframes animateheart {

  0%{
      transform: translateY(0) rotate(0deg);
      /* opacity: 1; */
      /* border-radius: 0; */
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      /* opacity: 0; */
      /* border-radius: 50%; */
  }

}
.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}


.puff-in-center {
	-webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-10 0:40:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

#flexdivintro{
  max-width:400px;
  margin: 80px auto 10px;
  position:relative;
  top: 40%;
  /* left: 50%;
  transform: translate(-50%,-50%); */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}
#backToDance{
  width: 400px;
  margin: 0px auto;
  position:relative;
  top: 40%;
  display: flex;
  align-items:center;
  justify-content:center;
  
  
  height: 40px;
  border-radius: 5px;
  background-color: rgb(170, 6, 211);
  color:white;
  z-index: 3;
  transition: 0.2s ease-in;
  border: 1px solid rgba(151, 151, 151, 0.856);
  cursor: pointer;
}
#goToStory{
  width: 400px;
  margin: 0px auto;
  position:relative;
  top: 40%;
  display: flex;
  align-items:center;
  justify-content:center;
  
  
  height: 40px;
  border-radius: 5px;
  background-color: rgb(170, 6, 211);
  color:white;
  z-index: 3;
  transition: 0.2s ease-in;
  border: 1px solid rgba(151, 151, 151, 0.856);
  cursor: pointer;
}
#backToDance:hover,
#goToStory:hover{
  background-color: rgb(245, 0, 233);
  color:rgb(255, 255, 255);
  transform: scale(1.1);
  border: 1px solid rgb(0, 174, 255);
  cursor: pointer;
}

.btnintro{
  display: flex;
  align-items:center;
  justify-content:center;
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(211, 6, 160);
  color:white;
  z-index: 3;
  transition: 0.2s ease-in;
  border: 1px solid rgba(151, 151, 151, 0.726);

}
.btnintro:hover {
  background-color: rgb(245, 0, 233);
  color:rgb(255, 255, 255);
  transform: scale(1.1);
  border: 1px solid rgb(0, 174, 255);
  cursor: pointer;
}

.progress-bar-container{
  position: absolute;
  right:0;
  top:0;
  /* transform: translate(-50%,-50%); */
  width:60%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.9); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
}

#progress-bar{
  width:40%;
  margin-top:0.5%;
  height:2%;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: #671e41;
  overflow: hidden;
  z-index: 3;
  
}

.background span {
  width: 13vmin;
  height: 13vmin;
  border-radius: 13vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 3;
}


.background span:nth-child(0) {
  color: #c837a9;
  top: 6%;
  left: 60%;
  animation-duration: 51s;
  animation-delay: -35s;
  transform-origin: 10vw 9vh;
  box-shadow: -26vmin 0 3.9399586520209064vmin currentColor;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 19%;
  left: 47%;
  animation-duration: 31s;
  animation-delay: -22s;
  transform-origin: -8vw -19vh;
  box-shadow: -26vmin 0 3.96633064486352vmin currentColor;
}
.background span:nth-child(2) {
  color: #c8378c;
  top: 87%;
  left: 97%;
  animation-duration: 6s;
  animation-delay: -4s;
  transform-origin: 5vw -16vh;
  box-shadow: 26vmin 0 3.2719020520112183vmin currentColor;
}
.background span:nth-child(3) {
  color: #c837b5;
  top: 70%;
  left: 46%;
  animation-duration: 21s;
  animation-delay: -14s;
  transform-origin: 1vw -12vh;
  box-shadow: -26vmin 0 3.3272604751561783vmin currentColor;
}
.background span:nth-child(4) {
  color: #c837bc;
  top: 52%;
  left: 34%;
  animation-duration: 55s;
  animation-delay: -46s;
  transform-origin: 6vw -13vh;
  box-shadow: -26vmin 0 3.9074734519225185vmin currentColor;
}
.background span:nth-child(5) {
  color: #c20f81;
  top: 84%;
  left: 58%;
  animation-duration: 19s;
  animation-delay: -19s;
  transform-origin: 2vw -17vh;
  box-shadow: 26vmin 0 3.828406835741876vmin currentColor;
}
.background span:nth-child(6) {
  color: #c20f81;
  top: 2%;
  left: 97%;
  animation-duration: 13s;
  animation-delay: -16s;
  transform-origin: -14vw -1vh;
  box-shadow: -26vmin 0 3.266874111182098vmin currentColor;
}
.background span:nth-child(7) {
  color: #c20f81;
  top: 16%;
  left: 45%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -14vw 1vh;
  box-shadow: -26vmin 0 3.7467194571296485vmin currentColor;
}
.background span:nth-child(8) {
  color: #c83798;
  top: 42%;
  left: 94%;
  animation-duration: 14s;
  animation-delay: -6s;
  transform-origin: -1vw 18vh;
  box-shadow: 26vmin 0 4.125576526705341vmin currentColor;
}
.background span:nth-child(9) {
  color: #c83762;
  top: 82%;
  left: 8%;
  animation-duration: 43s;
  animation-delay: -39s;
  transform-origin: 17vw 3vh;
  box-shadow: -26vmin 0 3.5712531862513233vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFACAC;
  top: 55%;
  left: 24%;
  animation-duration: 48s;
  animation-delay: -22s;
  transform-origin: -24vw 18vh;
  box-shadow: -26vmin 0 4.177938844649567vmin currentColor;
}
.background span:nth-child(11) {
  color: #c8379c;
  top: 23%;
  left: 87%;
  animation-duration: 14s;
  animation-delay: -23s;
  transform-origin: -14vw 10vh;
  box-shadow: -26vmin 0 3.3617681974025277vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: 8%;
  left: 18%;
  animation-duration: 22s;
  animation-delay: -44s;
  transform-origin: 1vw 12vh;
  box-shadow: -26vmin 0 3.64728097277529vmin currentColor;
}
.background span:nth-child(13) {
  color: #c20f81;
  top: 61%;
  left: 39%;
  animation-duration: 53s;
  animation-delay: -25s;
  transform-origin: -6vw 16vh;
  box-shadow: -26vmin 0 4.1817923042234755vmin currentColor;
}
.background span:nth-child(14) {
  color: #c20f81;
  top: 19%;
  left: 43%;
  animation-duration: 38s;
  animation-delay: -42s;
  transform-origin: 12vw 5vh;
  box-shadow: 26vmin 0 3.5049676174635813vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 8%;
  left: 90%;
  animation-duration: 41s;
  animation-delay: -13s;
  transform-origin: -13vw 13vh;
  box-shadow: 26vmin 0 3.835959246054789vmin currentColor;
}
.background span:nth-child(16) {
  color: #b30fc2;
  top: 53%;
  left: 28%;
  animation-duration: 32s;
  animation-delay: -30s;
  transform-origin: 24vw 8vh;
  box-shadow: 26vmin 0 3.9713356394558503vmin currentColor;
}
.background span:nth-child(17) {
  color: #FFACAC;
  top: 67%;
  left: 59%;
  animation-duration: 50s;
  animation-delay: -31s;
  transform-origin: 12vw -1vh;
  box-shadow: -26vmin 0 4.182497998454348vmin currentColor;
}
.background span:nth-child(18) {
  color: #c20f81;
  top: 98%;
  left: 37%;
  animation-duration: 36s;
  animation-delay: -4s;
  transform-origin: 8vw 1vh;
  box-shadow: 26vmin 0 3.6631349684372263vmin currentColor;
}
.background span:nth-child(19) {
  color: #c20f81;
  top: 28%;
  left: 13%;
  animation-duration: 24s;
  animation-delay: -35s;
  transform-origin: -21vw -10vh;
  box-shadow: -26vmin 0 4.151851027661403vmin currentColor;
}
.background span:nth-child(20) {
  color: #c837b5;
  top: 50%;
  left: 50%;
  animation-duration: 25s;
  animation-delay: -44s;
  transform-origin: 15vw -3vh;
  box-shadow: 26vmin 0 3.6777890662444515vmin currentColor;
}
.background span:nth-child(21) {
  color: #c837b5;
  top: 17%;
  left: 29%;
  animation-duration: 12s;
  animation-delay: -46s;
  transform-origin: 15vw 11vh;
  box-shadow: 26vmin 0 3.6126073756075794vmin currentColor;
}


.pyro > .before, .pyro > .after {
  position: absolute;
  top: 0;
  left:0;
  transform: translate(0,50%);
  width: 4px;
  height: 4px;
  /* border:1px solid red; */
  border-radius: 50%;
  box-shadow:  0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
  to {
    box-shadow:  20px -45.3333333333px #ff6200, -191px 65.6666666667px #15ff00, -127px -71.3333333333px #0059ff, 136px -9.3333333333px #ff5900, 26px -95.3333333333px #c800ff, 190px 30.6666666667px #0037ff, 126px 44.6666666667px #003cff, 5px -163.3333333333px #ff0, 218px -260.3333333333px #6f0, -27px -11.3333333333px #ff00e1, 95px -75.3333333333px #3f0, -200px -148.3333333333px #0051ff, -185px 27.6666666667px #20f, 206px 21.6666666667px #ff8000, 159px -60.3333333333px #00ff2b, -116px -121.3333333333px #0fd, -117px -242.3333333333px #0f3, 70px -41.3333333333px #00ffbf, -132px 56.6666666667px #91ff00, -172px 29.6666666667px #3700ff, -127px -161.3333333333px #0f2, -234px 40.6666666667px #ff0091, -242px -121.3333333333px #0037ff, 117px -293.3333333333px #e1ff00, 2px -156.3333333333px #2bff00, 95px -237.3333333333px #ff0037, 77px -219.3333333333px #ff0004, 46px -37.3333333333px #1500ff, 184px -62.3333333333px #ff001e, -137px -261.3333333333px #ff6200, 119px 39.6666666667px #fb00ff, -79px -73.3333333333px #ff1a00, 88px -280.3333333333px #f90, 8px 51.6666666667px #a600ff, 99px -129.3333333333px #0f9, -181px -320.3333333333px #7300ff, 160px -125.3333333333px #ff4d00, -213px 44.6666666667px #ff00f7, 82px -151.3333333333px #1e00ff, -43px -68.3333333333px #ff7b00, -232px 66.6666666667px #00ffb7, -18px 23.6666666667px #0004ff, 177px -92.3333333333px #00ff7b, -60px -10.3333333333px #00eaff, 100px -150.3333333333px #00ff9d, -51px -235.3333333333px #ff7b00, 229px -95.3333333333px #ff0015, 194px -292.3333333333px #0af, -102px -29.3333333333px #00b3ff, 98px -97.3333333333px #ff0004, 154px 21.6666666667px #c400ff, -83px -309.3333333333px #ff1500, -104px -178.3333333333px #0800ff, 203px -81.3333333333px #a0f, -123px -298.3333333333px #a2ff00, -231px 7.6666666667px #0f5, -12px -327.3333333333px #0019ff, -242px -237.3333333333px #0048ff, 3px 14.6666666667px #d500ff, 83px -38.3333333333px #4cff00, 68px -222.3333333333px #ffc400;
 }
}
@-moz-keyframes bang {
  to {
    box-shadow:  20px -45.3333333333px #ff6200, -191px 65.6666666667px #15ff00, -127px -71.3333333333px #0059ff, 136px -9.3333333333px #ff5900, 26px -95.3333333333px #c800ff, 190px 30.6666666667px #0037ff, 126px 44.6666666667px #003cff, 5px -163.3333333333px #ff0, 218px -260.3333333333px #6f0, -27px -11.3333333333px #ff00e1, 95px -75.3333333333px #3f0, -200px -148.3333333333px #0051ff, -185px 27.6666666667px #20f, 206px 21.6666666667px #ff8000, 159px -60.3333333333px #00ff2b, -116px -121.3333333333px #0fd, -117px -242.3333333333px #0f3, 70px -41.3333333333px #00ffbf, -132px 56.6666666667px #91ff00, -172px 29.6666666667px #3700ff, -127px -161.3333333333px #0f2, -234px 40.6666666667px #ff0091, -242px -121.3333333333px #0037ff, 117px -293.3333333333px #e1ff00, 2px -156.3333333333px #2bff00, 95px -237.3333333333px #ff0037, 77px -219.3333333333px #ff0004, 46px -37.3333333333px #1500ff, 184px -62.3333333333px #ff001e, -137px -261.3333333333px #ff6200, 119px 39.6666666667px #fb00ff, -79px -73.3333333333px #ff1a00, 88px -280.3333333333px #f90, 8px 51.6666666667px #a600ff, 99px -129.3333333333px #0f9, -181px -320.3333333333px #7300ff, 160px -125.3333333333px #ff4d00, -213px 44.6666666667px #ff00f7, 82px -151.3333333333px #1e00ff, -43px -68.3333333333px #ff7b00, -232px 66.6666666667px #00ffb7, -18px 23.6666666667px #0004ff, 177px -92.3333333333px #00ff7b, -60px -10.3333333333px #00eaff, 100px -150.3333333333px #00ff9d, -51px -235.3333333333px #ff7b00, 229px -95.3333333333px #ff0015, 194px -292.3333333333px #0af, -102px -29.3333333333px #00b3ff, 98px -97.3333333333px #ff0004, 154px 21.6666666667px #c400ff, -83px -309.3333333333px #ff1500, -104px -178.3333333333px #0800ff, 203px -81.3333333333px #a0f, -123px -298.3333333333px #a2ff00, -231px 7.6666666667px #0f5, -12px -327.3333333333px #0019ff, -242px -237.3333333333px #0048ff, 3px 14.6666666667px #d500ff, 83px -38.3333333333px #4cff00, 68px -222.3333333333px #ffc400;
 }
}
@-o-keyframes bang {
  to {
    box-shadow:  20px -45.3333333333px #ff6200, -191px 65.6666666667px #15ff00, -127px -71.3333333333px #0059ff, 136px -9.3333333333px #ff5900, 26px -95.3333333333px #c800ff, 190px 30.6666666667px #0037ff, 126px 44.6666666667px #003cff, 5px -163.3333333333px #ff0, 218px -260.3333333333px #6f0, -27px -11.3333333333px #ff00e1, 95px -75.3333333333px #3f0, -200px -148.3333333333px #0051ff, -185px 27.6666666667px #20f, 206px 21.6666666667px #ff8000, 159px -60.3333333333px #00ff2b, -116px -121.3333333333px #0fd, -117px -242.3333333333px #0f3, 70px -41.3333333333px #00ffbf, -132px 56.6666666667px #91ff00, -172px 29.6666666667px #3700ff, -127px -161.3333333333px #0f2, -234px 40.6666666667px #ff0091, -242px -121.3333333333px #0037ff, 117px -293.3333333333px #e1ff00, 2px -156.3333333333px #2bff00, 95px -237.3333333333px #ff0037, 77px -219.3333333333px #ff0004, 46px -37.3333333333px #1500ff, 184px -62.3333333333px #ff001e, -137px -261.3333333333px #ff6200, 119px 39.6666666667px #fb00ff, -79px -73.3333333333px #ff1a00, 88px -280.3333333333px #f90, 8px 51.6666666667px #a600ff, 99px -129.3333333333px #0f9, -181px -320.3333333333px #7300ff, 160px -125.3333333333px #ff4d00, -213px 44.6666666667px #ff00f7, 82px -151.3333333333px #1e00ff, -43px -68.3333333333px #ff7b00, -232px 66.6666666667px #00ffb7, -18px 23.6666666667px #0004ff, 177px -92.3333333333px #00ff7b, -60px -10.3333333333px #00eaff, 100px -150.3333333333px #00ff9d, -51px -235.3333333333px #ff7b00, 229px -95.3333333333px #ff0015, 194px -292.3333333333px #0af, -102px -29.3333333333px #00b3ff, 98px -97.3333333333px #ff0004, 154px 21.6666666667px #c400ff, -83px -309.3333333333px #ff1500, -104px -178.3333333333px #0800ff, 203px -81.3333333333px #a0f, -123px -298.3333333333px #a2ff00, -231px 7.6666666667px #0f5, -12px -327.3333333333px #0019ff, -242px -237.3333333333px #0048ff, 3px 14.6666666667px #d500ff, 83px -38.3333333333px #4cff00, 68px -222.3333333333px #ffc400;
 }
}
@-ms-keyframes bang {
  to {
    box-shadow:  20px -45.3333333333px #ff6200, -191px 65.6666666667px #15ff00, -127px -71.3333333333px #0059ff, 136px -9.3333333333px #ff5900, 26px -95.3333333333px #c800ff, 190px 30.6666666667px #0037ff, 126px 44.6666666667px #003cff, 5px -163.3333333333px #ff0, 218px -260.3333333333px #6f0, -27px -11.3333333333px #ff00e1, 95px -75.3333333333px #3f0, -200px -148.3333333333px #0051ff, -185px 27.6666666667px #20f, 206px 21.6666666667px #ff8000, 159px -60.3333333333px #00ff2b, -116px -121.3333333333px #0fd, -117px -242.3333333333px #0f3, 70px -41.3333333333px #00ffbf, -132px 56.6666666667px #91ff00, -172px 29.6666666667px #3700ff, -127px -161.3333333333px #0f2, -234px 40.6666666667px #ff0091, -242px -121.3333333333px #0037ff, 117px -293.3333333333px #e1ff00, 2px -156.3333333333px #2bff00, 95px -237.3333333333px #ff0037, 77px -219.3333333333px #ff0004, 46px -37.3333333333px #1500ff, 184px -62.3333333333px #ff001e, -137px -261.3333333333px #ff6200, 119px 39.6666666667px #fb00ff, -79px -73.3333333333px #ff1a00, 88px -280.3333333333px #f90, 8px 51.6666666667px #a600ff, 99px -129.3333333333px #0f9, -181px -320.3333333333px #7300ff, 160px -125.3333333333px #ff4d00, -213px 44.6666666667px #ff00f7, 82px -151.3333333333px #1e00ff, -43px -68.3333333333px #ff7b00, -232px 66.6666666667px #00ffb7, -18px 23.6666666667px #0004ff, 177px -92.3333333333px #00ff7b, -60px -10.3333333333px #00eaff, 100px -150.3333333333px #00ff9d, -51px -235.3333333333px #ff7b00, 229px -95.3333333333px #ff0015, 194px -292.3333333333px #0af, -102px -29.3333333333px #00b3ff, 98px -97.3333333333px #ff0004, 154px 21.6666666667px #c400ff, -83px -309.3333333333px #ff1500, -104px -178.3333333333px #0800ff, 203px -81.3333333333px #a0f, -123px -298.3333333333px #a2ff00, -231px 7.6666666667px #0f5, -12px -327.3333333333px #0019ff, -242px -237.3333333333px #0048ff, 3px 14.6666666667px #d500ff, 83px -38.3333333333px #4cff00, 68px -222.3333333333px #ffc400;
 }
}
@keyframes bang {
  to {
    box-shadow:  20px -45.3333333333px #ff6200, -191px 65.6666666667px #15ff00, -127px -71.3333333333px #0059ff, 136px -9.3333333333px #ff5900, 26px -95.3333333333px #c800ff, 190px 30.6666666667px #0037ff, 126px 44.6666666667px #003cff, 5px -163.3333333333px #ff0, 218px -260.3333333333px #6f0, -27px -11.3333333333px #ff00e1, 95px -75.3333333333px #3f0, -200px -148.3333333333px #0051ff, -185px 27.6666666667px #20f, 206px 21.6666666667px #ff8000, 159px -60.3333333333px #00ff2b, -116px -121.3333333333px #0fd, -117px -242.3333333333px #0f3, 70px -41.3333333333px #00ffbf, -132px 56.6666666667px #91ff00, -172px 29.6666666667px #3700ff, -127px -161.3333333333px #0f2, -234px 40.6666666667px #ff0091, -242px -121.3333333333px #0037ff, 117px -293.3333333333px #e1ff00, 2px -156.3333333333px #2bff00, 95px -237.3333333333px #ff0037, 77px -219.3333333333px #ff0004, 46px -37.3333333333px #1500ff, 184px -62.3333333333px #ff001e, -137px -261.3333333333px #ff6200, 119px 39.6666666667px #fb00ff, -79px -73.3333333333px #ff1a00, 88px -280.3333333333px #f90, 8px 51.6666666667px #a600ff, 99px -129.3333333333px #0f9, -181px -320.3333333333px #7300ff, 160px -125.3333333333px #ff4d00, -213px 44.6666666667px #ff00f7, 82px -151.3333333333px #1e00ff, -43px -68.3333333333px #ff7b00, -232px 66.6666666667px #00ffb7, -18px 23.6666666667px #0004ff, 177px -92.3333333333px #00ff7b, -60px -10.3333333333px #00eaff, 100px -150.3333333333px #00ff9d, -51px -235.3333333333px #ff7b00, 229px -95.3333333333px #ff0015, 194px -292.3333333333px #0af, -102px -29.3333333333px #00b3ff, 98px -97.3333333333px #ff0004, 154px 21.6666666667px #c400ff, -83px -309.3333333333px #ff1500, -104px -178.3333333333px #0800ff, 203px -81.3333333333px #a0f, -123px -298.3333333333px #a2ff00, -231px 7.6666666667px #0f5, -12px -327.3333333333px #0019ff, -242px -237.3333333333px #0048ff, 3px 14.6666666667px #d500ff, 83px -38.3333333333px #4cff00, 68px -222.3333333333px #ffc400;
 }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
 }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
 }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
 }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
 }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
 }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
 }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
 }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
 }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
 }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
 }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
 }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
 }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
 }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
 }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
 }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
 }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
 }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
 }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
 }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
 }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
 }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
 }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
 }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
 }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
 }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
 }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
 }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
 }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
 }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
 }
}
footer{

  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  /* z-index: 3; */
  background:linear-gradient(to bottom, #ffffff00, #c806e265, #ffffff00);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}
.rightsdiv{
  width:50%;
  text-align: center;
  margin: 20px auto 20px auto;
  user-select: none;
  font-size:1rem;
  color: white;
}
.horidiv{
  width:50%;
  text-align: center;
  margin: 20px auto 20px auto;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}
.horidiv:hover{
  color:rgb(143, 242, 255);
}


@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
@media screen and (max-width:1000px) {
  /* #contenthead{
    font-size: 0.9rem;
  } */
  #flexdivintro,
  #backToDance,
  #goToStory,
  .backfrompass,
  #backfromletter{
    width:300px;
    margin:5px auto;

  }
  .card{
    width:90vw;
    padding:2px;
  }
  .cardcontainer1,
  .cardcontainer3
  {
    width:90vw;
    padding:2px;
    margin:auto;
  }
  .cardcontainer{
    padding: 2px;
    width:90vw;
  }
  .headerstyle{
    width:90vw;
  }

}

@media screen and (max-width:768px) {
  #flexdivintro,
  #backToDance,
  #goToStory,
  .backfrompass,
  #backfromletter{
    width:90%;
    margin:5px auto;

  }
}